body{
    background-color: #14bcac;
    text-align: center;
}

h1{
    color: antiquewhite;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow:  1px 3px black;
}

button{

    border-radius: 5px;
    background-color: rgb(167, 189, 236);
    color: white;
    text-shadow: 2px 1px black;
    width: 200px;
    height: 150px;
    font-family: monospace;
}