h1{
    margin-top: 5%;
    font-size: 50pt;
    color: white;
    text-shadow: 1px 3px black;
}

body{
    text-align: center;
    background-color: rgb(20, 6, 46);
    font-family: monospace;
}

#formulario input.email{
    background-color: rgb(255, 255, 255);
    position: relative;
    border-color: aquamarine;
    border-radius: 10px;
    width: 300px;
    height: 20px;
    margin-bottom: 2%;


}

#formulario label input.email{
    margin-top: 10%;
}
#formulario input.senha{
    background-color: rgb(255, 255, 255);
    position: relative;
    border-color: aquamarine;
    border-radius: 10px;

    width: 300px;
    height: 20px;
}

#formulario label{
    font-weight: bold;
    font-size: 20pt;
    color: white;
    text-shadow: 2px 1px black;
}

button{
    margin-top: 2%;
    border-radius: 50px;
    background-color: rgb(106, 143, 221);
    font-style:  italic;
    font-weight: bold;
    color: white;
    text-shadow: 2px 1px black;
    width: 150px;
    height: 40px;
    font-family: monospace;
}

input[type=text]:hover,
textarea:hover {
    background: #cab4b4;
    border: 1px solid #41ca48;
}